<div class="container">
  <h1 class="p-mt-2">Hello, Angular!</h1>
  <div  class="box" >
     <h2 [ngClass]="marginClass ">hello</h2> 
  </div>
</div>
<br>


<br>
<br><br>

<div class="margin">
 <span  (click)="topMargin()" class="mspan1">m-top</span>
 <span  (click)="ButtomMargin()" class="mspan2">m-bootom</span>
 <span  (click)="leftMargin()" class="mspan3">m-left</span>
 <span  (click)="rightMargin()" class="mspan4">m-right</span>

  <div class="padding">
    <!-- <span>4</span>
    <span>4</span>
    <span>4</span>
    <span>4</span> -->

    <div class="boxt">

    </div>
  </div>
</div>

